.product-count-button {
  border-radius: 50%;
  border: var(--light-gray-2) 2px solid;
  color: var(--light-gray-2);
  background-color: var(--white);
  font-size: 1.2rem;
  width: 25px;
  height: 25px;
  line-height: 19px;
}