.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 205px;
}

.product-card__brand {
  width: 205px;
  height: 38px;
}

.product-card__brand img {
  width: 100%;
  height: 100%;
}

.product-card__title {
  display: flex;
  justify-content: center;
  width: 180px;
}

.product-card__title--with-description {
  margin-bottom: 0.8rem;
}

.product-card__name {
  color: var(--dark-gray);
  text-align: center;
}

.product-card__name--short {
  font-size: 1.4rem;
  font-weight: 500;
}

.product-card__name--with-description {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}



.product-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.product-card__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  min-height: 180px;
  background-color: var(--yellow);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-card__photo--short {
  width: 160px;
  height: 160px;
  min-height: 160px;
}

.product-card__photo--with-description {
  margin-bottom: 1rem;
}

.product-card__photo--photo-only {
  height: fit-content;
}

.product-card__photo-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: var(--white);
  border-radius: 50%;
}

.product-card__photo-inner--short {
  width: 140px;
  height: 140px;
}

.product-card__photo-inner img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.product-card__photo-inner--short img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 50%;
}

.product-card-info__ingredients {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: 0.4rem 0 0.6rem;
  border-top: var(--gray) solid 2px;
  border-bottom: var(--gray) solid 2px;
}

.product-ingredient {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 700;
  color: var(--blue);
  border-bottom: var(--blue) solid 1px;
}

.product-card-info__price {
  width: fit-content;
  font-weight: 700;
  color: var(--orange);
}

.product-card-info__price--short {
  font-size: 1rem;
  font-weight: 500;
}

.product-card-info__price--with-description {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.3rem;
}


.product-card-info__count {
  margin-bottom: 0.5rem;
}

.count-control {
  display: flex;
  align-items: center;
}

.product-card-info__count-label {
  display: block;
  margin: 0.8rem 0 0.2rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray);
}

.product-count-input {
  margin: 0 1.2rem;
  height: 25px;
  width: 50px;
  border: var(--light-gray-2) 2px solid;
  border-radius: 0.3rem;
  outline: none;
  font-size: 0.7rem;
  font-weight: 700;
  color: black;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.product-count-input::-webkit-outer-spin-button,
.product-count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-count-input[type=number] {
  -moz-appearance: textfield;
}

.product-count-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

.product-count-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

.product-count-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}