/* Product card */

.product-catalogue__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 100px;
  column-gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .product-catalogue__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}