/* Product card */

.product-catalogue__list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 600px) {
  .product-catalogue__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 100px;
    column-gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .product-catalogue__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1408px) {
  .product-catalogue__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}