@import url('./reset.css');

/* Global */
:root {
  --light-gray: #e0e0e0;
  --light-gray-2: #bebcba;
  --gray: #808080;
  --dark-gray: #3f3e3e;
  --yellow: #f5c300;
  --light-yellow: #f6d846;
  --blue: #0265bb;
  --dark-blue: #396083;
  --orange: #d96b4c;
  --white: #fcfcfc;
}

body {
  background-image: url('/src/public/i/others/app-background-plate.png');
  background-repeat: repeat;
  font-family: 'Roboto Condensed', sans-serif;
  list-style-type: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

/* Page laoyout*/

.home-page {
  display: grid;
  grid-template-areas:
    'home-page__aside-menu'
    'home-page__header'
    'home-page__content';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.home-page__aside-menu {
  grid-area: home-page__aside-menu;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--yellow);
}

.home-page__aside-menu .aside-menu-wrapper {
  position: absolute;
  top: -999vh;
  left: 0;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  width: 100%;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
}

.home-page__aside-menu.open {
  background-color: var(--white);
}

.home-page__aside-menu.open .aside-menu-wrapper {
  transform: translateY(calc(999vh + 60px));
  background-color: var(--white);
  transition: transform 0.2s;
  justify-content: space-between;
}

.product-aside__button {
  z-index: 2;
  width: fit-content;
  align-self: end;
  margin-right: 2rem;
}


@media (min-width: 800px) {
  .home-page {
    display: grid;
    grid-template-areas:
    'home-page__header home-page__header'
    'home-page__aside-menu home-page__content'
    'home-page__aside-menu home-page__content';
    grid-template-columns: minmax(max-content, 20%) 1fr;
    grid-template-rows: auto auto 1fr;
    padding: 2rem 1rem;
  }

  .home-page__aside-menu {
    position: static;
    background-color: transparent;
    height: fit-content;
    overflow: hidden;
  }

  .product-aside__button {
    display: none;
  }

  .home-page__aside-menu .aside-menu-wrapper {
    position: static;
    display: block;
    height: fit-content;
  }

  .home-page__cart {
    margin-top: 2rem;
  }
}

.home-page__header {
  grid-area: home-page__header;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .home-page__header {
    margin-bottom: 1.5rem;
  }
}

.home-page__nav {
  height: fit-content;
}

.home-page__aside-menu {
  grid-area: home-page__aside-menu;
}

.home-page__content {
  grid-area: home-page__content;
  padding: 0.5rem 2rem;
}

/* Header */

.header__text {
  display: inline;
  width: fit-content;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-gray);
  margin: 1rem 1rem 0;
}

@media (min-width: 800px) {
  .header__text {
    font-size: 2.4rem;
    margin-top: 0;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}